
/* Адаптивность для планшетов */
@media (max-width: 768px) {
    .container {
    max-width: 768px;
    }

    .header__text-block{
        font-size: 18px;
    }

    .header__btn{
        font-size: 15px;
    }

    .fix_descr {
        font-size: 28px;
    }
    .fix__price {
        font-size: 35px;
    }
    .fix__btn{
        border-width: 1px;
    }
    .header__img{
    width: 80%;
    left: 41%;
    }
}
/* Адаптивность для мобильных */
@media (max-width: 580px) {
    .container {
        max-width: 480px;
    }
    
    .header__title{
        max-width: 100px;
    }

    .header__text-block{
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
        flex-direction: column;
        line-height: 1.3;
    }

    .header__btn{
        font-size: 14px;
        padding: 3px 5px;
        border: solid 1px var(--white-color);
        border-radius: 10px;
    }

    .header__img{
        left: 40%;
        width: 90%;
    }
    .fix_descr {
        font-size: 20px;
    }
    .fix__btn{
        font-size: 16px;
    }

    .inclusive__item{
        font-size: 20px;
    }
    .full__block-item{
        padding: 10px 14px;
    }
    .full__price{
        font-size: 16px;
        text-wrap: wrap;
        width: 100%;
        min-width: 60%;
        font: optional;
        line-height: 0.7;
    }
    .full__pricer{
        font-size: 14px;
        text-wrap: nowrap;
        align-self: center;
        width: 100%;
        min-width: min-content;
    }
    .dots {
        border-bottom: dotted 4px;
        margin-right: 3px;
        margin-bottom: 8px
    }
    .extra__item-price{
        font-size: 14px;
        text-wrap: wrap;
        width: 100%;
        min-width: 60%;
        line-height: 1;
    }
    .extra__item-pricer{
        font-size: 14px;
        text-wrap: nowrap;
        align-content: end;
        text-align: end ;
        
    }

    .footer__container{
        padding: 0 20px;
    }

    .footer__icon{
        width: 40px;
        height: 40px;
    }
    .footer__item{
        font-size: 15px;
        gap: 5px;
    }

    .footer__list{
        justify-content: center;
        gap: 0;
    }

    .footer__block{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__tz{
        align-items: center;
        max-width: 380px;
        width: 100%;
    }

}

@media (max-width:470px){

    .header__text-block{
        right: auto;
        top: 2%;
        text-align: center;
        font-size: 16px;
        gap: 5px;
    }
    .header__descr-last{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .header__buttons{
        align-items: center;
        gap: 10px;
    }

    .header__img{
        left: 5%;
        bottom: -20%;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
    }
    
    .header__btn{
        font-size: 15px;
        border-radius: 8px;
    }

    .full__price{
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1px;
        width: 115px;

    }
    .full__pricer{
        font-size: 14px;
        letter-spacing: 0.1px;
        width: 10%;
    }
    .dots{
        border-bottom: dotted 3px;
    }
}

@media (max-width:430px){
    .header__text-block{
    line-height: 1;
    position: relative; /* Убираем абсолютное позиционирование */
    right: auto;
    margin-bottom: 20px;
    }

    .header__img{
        clip-path: none;
        bottom: 0;
        max-height: 70vh;
        position: relative;
        bottom: -10px;
    }

    .header__descr-last{
        max-width: 100%; /* Убираем ограничение ширины */
    }

    .header__about{
        display: flex;
        flex-direction: column;
    }

    .header__buttons{
        margin-bottom: 10px;
    }

    .header{
        height: auto; /* Убираем фиксированную высоту */
        min-height: 100vh; /* Но не меньше экрана */
        padding-bottom: 20px; /* Добавляем отступ снизу */
    }

    
}

@media (max-width:370px){
    .header__text-block{
    font-size: 14px;
    }
    .header__btn{
        font-size: 14px;
    }
    .full__price{
        font-weight: 500;
    }

    .header{
        height: auto; /* Убираем фиксированную высоту */
        min-height: 100vh; /* Но не меньше экрана */
        padding-bottom: 20px; /* Добавляем отступ снизу */
    }


}