
/* Адаптивность для планшетов */
@media (max-width: 768px) {
    .container {
    max-width: 768px;
    }

    .header__text-block{
        font-size: 18px;
    }

    .header__btn{
        font-size: 15px;
    }

    .fix_descr {
        font-size: 28px;
    }
    .fix__price {
        font-size: 35px;
    }
    .fix__btn{
        border-width: 1px;
    }

    .education__list {
        flex-direction: column;
        gap: 15px;
    }
    
    .education__item {
        min-width: 100%;
        max-width: 100%;
    }
    
    .education__text {
        padding: 8px 12px;
    }
    
    .education__btn {
        font-size: 16px;
        padding: 8px 12px;
    }
}   
/* Адаптивность для мобильных */
@media (max-width: 580px) {
    .container {
        max-width: 480px;
    }
    
    .header__title{
        max-width: 100px;
    }

    .header__about{
        flex-direction: column;
    }

    .header__text-block{
        font-size: 18px;
        font-weight: 500;
        gap: 8px;
        flex-direction: column;
        line-height: 1.3;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .header__img{
    max-width:min-content;
    margin-bottom: 15px;
    }

    .header__btn{
        font-size: 18px;
        padding: 3px 5px;
        border: solid 1px var(--white-color);
        border-radius: 10px;
    }

    .header__img{
        left: 40%;
        width: 90%;
    }
    .fix_descr {
        font-size: 23px;
    }
    .fix__btn{
        font-size: 16px;
    }

    .inclusive__item{
        font-size: 20px;
    }
    .full__block-item{
        padding: 10px 14px;
    }

    .footer__container{
        padding: 0 20px;
    }

    .footer__icon{
        width: 40px;
        height: 40px;
    }
    .footer__item{
        font-size: 15px;
        gap: 5px;
    }

    .footer__list{
        justify-content: center;
        gap: 0;
    }

    .footer__block{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__tz{
        align-items: center;
        max-width: 380px;
        width: 100%;
    }

}

@media (max-width:470px){

    .header__text-block{
        text-align: center;
        font-size: 16px;
        gap: 5px;
    }
    .header__descr-last{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .header__buttons{
        align-items: center;
        gap: 10px;
    }
    
    .header__btn{
        font-size: 16px;
        border-radius: 8px;
    }

    .education__title {
        max-width: 300px;
    }
    
    .education__list {
        padding: 10px;
        gap: 10px;
    }
    
    .education__text {
        font-size: 20px;
    }


    .full__block-item{
        flex-direction: column;
        padding: 10px 5px ;
    }

    .full__price{
        max-width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
    }
    .full__pricer{
        max-width: 100%;
        margin: 0;
    }

    .extra__item{
        flex-direction: column;
        padding: 10px 5px ;
    }

    .extra__item-price{
        max-width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
    }
    .extra__item-pricer{
        max-width: 100%;
        margin: 0;
    }
}

@media (max-width:430px){
    .education__title,
    .fix__title,
    .full__title,
    .extra__title,
    .full__stage-title {
        max-width: 300px;
    }

    .header__buttons{
        margin-bottom: 10px;
    }

    
}

@media (max-width:370px){
    .header__text-block{
    font-size: 14px;
    }
    .header__btn{
        font-size: 14px;
    }

    .header{
        height: auto; /* Убираем фиксированную высоту */
        min-height: 100vh; /* Но не меньше экрана */
        padding-bottom: 20px; /* Добавляем отступ снизу */
    }


}